datasets
evaluate
huggingface-hub
tokenizers
tqdm

# git clone --single-branch --branch fast_tokenizers_BARTpho_PhoBERT_BERTweet https://github.com/datquocnguyen/transformers.git
# cd transformers
# pip3 install -e .
